@use "../settings" as *;
@use "../tools" as *;

h1,
h2 {
    font-family: $fontDisplay;
}

h1 {
    font-weight: 700;
    color: $colourGrey-500;
    font-size: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
    line-height: 2rem;
    @include responsive(large) {
        line-height: 3rem;
    }
}

h2 {
    font-weight: 500;
    color: $colourGrey-600;
    font-size: clamp(1.5rem, 1.1667rem + 1.6667vw, 2.5rem);
}

p {
    font-family: $fontMain;
    color: $colourGrey-600;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
    padding-top: 1rem;
    @include responsive(medium) {
        line-height: 1.5rem;
    }
}
