@use "../settings" as *;
@use "../tools" as *;

h1,
h2,
h3 {
    font-family: $fontDisplay;
}

h1 {
    max-width: 64rem;
    font-weight: 700;
    color: $colourGrey-600;
    opacity: 0.85;
    font-size: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
    line-height: 1.1;
    @include responsive(xx-large) {
        font-size: 4.5rem;
    }
}

h2 {
    font-weight: 500;
    color: $colourGrey-600;
    opacity: 0.9;
    font-size: clamp(1.5rem, 1.1667rem + 1.6667vw, 2.5rem);
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    color: $colourGrey-600;
    opacity: 0.9;
}

p,
b,
ol > li {
    font-family: $fontMain;
    color: $colourGrey-600;
    line-height: normal;
    padding-top: 1rem;
    font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
    @include responsive(xx-large) {
        font-size: 1.5rem;
    }
}

b,
ol > li {
    font-weight: 600;
}

p {
    font-weight: 400;
}

figcaption,
i {
    font-family: $fontMain;
    font-size: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.75rem);
}
