@use "../settings" as *;
@use "../tools" as *;

.o-header {
    &-bg {
        width: 75%;
        height: 100vh;
        background: url("../../images/flicka.png") no-repeat bottom right;
        background-size: contain;
        position: absolute;
        bottom: 4rem;
        right: 0;
        opacity: 0.4;
        @include responsive(medium) {
            height: 90vh;
            bottom: 0;
        }
        @include responsive(x-large) {
            opacity: 1;
        }
    }
}
