@use "../settings" as *;
@use "../tools" as *;

.o-navbar {
    background: linear-gradient(180deg, #434343 0%, #0a0a0a 100%);
    @include responsive(small-land) {
        height: 100vh;
        right: auto;
        background: linear-gradient(90deg, #434343 0%, #0a0a0a 100%);
    }
}

.o-index-header {
    &-wrapper {
        max-width: 82.5rem;
        height: 100vh;
        position: relative;
        padding: 0 1rem;
    }

    &-text-wrapper {
        height: 55%;
        @include responsive(x-small-land) {
            width: 30rem;
        }

        @include responsive(small-land) {
            height: 75%;
        }
    }

    &-bg {
        width: 75%;
        height: 100vh;
        background: url("../../images/flicka.png") no-repeat bottom right;
        background-size: contain;
        position: absolute;
        bottom: 4rem;
        right: 0rem;
        opacity: 0.4;
        @include responsive(small-land) {
            bottom: 0;
        }

        @include responsive(medium) {
            height: 90vh;
            right: 8rem;
        }

        @include responsive(x-large) {
            opacity: 1;
            bottom: 0;
        }
    }
}

/* About Me Page */

.o-about {
    &-header-wrapper {
        width: 100%;
        height: 30vh;
        @include flex(row, wrap, center, flex-end);
        margin-bottom: 3rem;
    }
}
