@use "../settings" as *;
@use "../tools" as *;

.navbar {
    background: linear-gradient(180deg, #484848 0%, #0a0a0a 100%);
}

.o-header {
    &-wrapper {
        max-width: 82.5rem;
        height: 100vh;
        position: relative;
    }

    &-bg {
        width: 75%;
        height: 100vh;
        background: url("../../images/flicka.png") no-repeat bottom right;
        background-size: contain;
        position: absolute;
        bottom: 4rem;
        right: 0rem;
        opacity: 0.4;
        @include responsive(medium) {
            height: 90vh;
            bottom: 0;
            right: 8rem;
        }
        @include responsive(x-large) {
            opacity: 1;
        }
    }
}
