/* ***** Wrappers ***** */

@mixin wrapper-size($width: 100%, $height: 100) {
    min-width: $width;
    max-height: $height;
}

/* ***** Flex-Box ***** */

@mixin flex($direction: row, $break: nowrap, $alignMain: center, $alignCross: center) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: $direction $break;
    flex-flow: $direction $break;
    -webkit-box-pack: $alignMain;
    -ms-flex-pack: $alignMain;
    justify-content: $alignMain;
    -webkit-box-align: $alignCross;
    -ms-flex-align: $alignCross;
    align-items: $alignCross;
}

/* ***** Transform ***** */

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

/* ***** Media Queries ***** */

/*
- 576px = x-small  (default)
576 - 768px = small
768 - 992px = medium
992 - 1200px = large
1200 - 1400px = x-large
1400 - = xx-large
*/

@mixin responsive($breakpoint) {
    @if $breakpoint == small {
        @media screen and (min-width: 36em) {
            // 576px
            @content;
        }
    }

    @if $breakpoint == small-land {
        @media (min-width: 25em) and (max-height: 42em) {
            // 400px 672px
            @content;
        }
    }

    @if $breakpoint == medium {
        @media screen and (min-width: 48em) {
            // 768px
            @content;
        }
    }

    @if $breakpoint == large {
        @media screen and (min-width: 62em) {
            // 992px
            @content;
        }
    }

    @if $breakpoint == x-large {
        @media screen and (min-width: 75em) {
            // 1200px
            @content;
        }
    }

    @if $breakpoint == xx-large {
        @media screen and (min-width: 87.5em) {
            // 1400px
            @content;
        }
    }
}
