/* ***** Transform ***** */

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

/* ***** Transition ***** */

@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

/* ***** Media Queries ***** */

/*
- 576px = x-small  (default)
576 - 768px = small
768 - 992px = medium
992 - 1200px = large
1200 - 1800px = x-large
1800 - = xx-large
*/

@mixin responsive($breakpoint) {
    @if $breakpoint == small {
        @media screen and (min-width: 36em) {
            // 576px
            @content;
        }
    }

    @if $breakpoint == small-land {
        @media (min-width: 25em) and (max-height: 42.9em) {
            // 400px x 687px
            @content;
        }
    }

    @if $breakpoint == medium {
        @media screen and (min-width: 48em) {
            // 768px
            @content;
        }
    }

    @if $breakpoint == large {
        @media screen and (min-width: 62em) {
            // 992px
            @content;
        }
    }

    @if $breakpoint == x-large {
        @media screen and (min-width: 75em) {
            // 1200px
            @content;
        }
    }

    @if $breakpoint == xx-large {
        @media screen and (min-width: 112.5em) {
            // 1800px
            @content;
        }
    }
}
