@use "../settings" as *;
@use "../tools" as *;

.c-project-button {
    background: linear-gradient(180deg, $colourGrey-400 0%, $colourGrey-600);
    color: $colourAccent-200;
    font-family: $fontDisplay;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 0.8em 2em 0.7em 2em;
    font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
    @include responsive(medium) {
        line-height: 1.5rem;
    }

    @include responsive(xx-large) {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &:hover,
    &:focus {
        background-color: $colourGrey-600;
        color: $colourAccent-100;
    }
}
