@use "../settings" as *;
@use "../tools" as *;

.c-project-button {
    width: fit-content;
    display: grid;
    place-items: center;
    background-color: $colourPrimary-400;
    color: $colourGrey-300;
    font-family: $fontDisplay;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    @include transition(500ms linear);

    &:hover,
    &:focus {
        @include transform(translateY(-3px));
        background-color: $colourPrimary-300;
        color: $colourGrey-100;
        box-shadow: rgb(38, 57, 77) 0px 15px 25px -10px;
    }
}
