@use "../settings" as *;
@use "../tools" as *;

.c-project-button {
    width: 12.5rem;
    height: 3rem;
    display: grid;
    place-items: center;
    background: linear-gradient(180deg, $colourGrey-400 0%, $colourGrey-600);
    color: $colourAccentPrimary;
    font-family: $fontDisplay;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.25rem;
    font-size: 1rem;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
        background-color: $colourGrey-600;
        color: $colourAccentPrimary;
    }
}
