@use "../tools" as *;

.c-contact-icon {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    transition: 500ms linear;
    @include responsive(small-land) {
        bottom: 3rem;
    }

    &:hover,
    &:focus {
        @include transform(scale(1.2));
    }
}
