@use "../settings" as *;
@use "../tools" as *;

.c-footer {
    max-width: 112.5rem;
    @include responsive(small-land) {
        padding-left: 5rem;
    }

    &__list-item {
        list-style-type: none;
        font-family: $fontMain;
        font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
        font-weight: 400;
        line-height: normal;
        color: $colourGrey-300;
    }

    &__link {
        padding: 0.5rem 1.5rem 0.5rem 0;
    }

    &__link-icon {
        font-size: 2rem;
        color: $colourGrey-300;
    }
}
