@use "../settings" as *;
@use "../tools" as *;

.c-footer {
    padding: 5rem 0;
    @include responsive(x-large) {
        width: 100%;
        max-width: 112.5rem;
    }

    &__text-content {
        @include responsive(small-land) {
            padding-left: 5rem;
        }
    }

    &__list-item {
        list-style-type: none;
        font-family: $fontMain;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
        color: $colourGrey-300;
    }

    &__link {
        color: $colourGrey-300;
        @include transition(300ms linear);

        &:hover,
        focus {
            color: $colourGrey-100;
        }
    }

    &__link-icon {
        font-size: 1rem;
    }

    &__heart-icon {
        font-size: 1rem;
        color: $colourPrimary-300;
        padding: 0 6px;
    }

    &__icon-base {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $colourPrimary-300;
        display: inline-grid;
        place-content: center;
        margin-right: 0.5rem;
        opacity: 0.6;
    }
}
