@use "../settings" as *;
@use "../tools" as *;

.c-header {
    &-subheading {
        font-size: clamp(1.125rem, 0.9167rem + 1.0417vw, 1.75rem);
        line-height: 1.3;
        @include responsive(xx-large) {
            font-size: 2.25rem;
        }
    }

    &__project-heading {
        padding-top: 8rem;
        @include responsive(small) {
            padding-top: 12rem;
        }

        &-scss {
            @include responsive(medium) {
                padding-top: 20rem;
            }

            @include responsive(small-land) {
                margin-right: 5rem;
            }
        }

        @include responsive(large) {
            padding-top: 17rem;
            padding-right: 10rem;
        }

        @include responsive(x-large) {
            padding: 0 0 10rem 5rem;
        }

        @include responsive(xx-large) {
            padding-left: 0;
        }

        @include responsive(small-land) {
            width: 60%;
            padding: 3rem 5rem 0 0;
        }
    }

    &__contact-heading {
        font-size: clamp(1.2rem, 0.7667rem + 2.1667vw, 2.5rem);
        font-weight: 500;
        color: $colourGrey-200;
    }

    &__contact-link {
        font-family: $fontDisplay;
        font-size: clamp(1.5rem, 1rem + 2.5vw, 3rem);
        font-weight: 700;
        color: $colourAccentPrimary;
        &:hover,
        &:focus {
            color: $colourGrey-200;
        }
    }
}
