@use "../tools" as *;

.c-image {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;

    &--bw {
        filter: grayscale(100%);
    }

    &__circle {
        border-radius: 50%;
    }

    &__soft-corners {
        border-radius: 0.5rem;
    }

    &__myself {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        float: left;
        shape-outside: circle(50%);
        margin: 0 1rem 1rem 0;
        @include responsive(medium) {
            width: 20rem;
            height: 20rem;
            margin-right: 2rem;
        }

        @include responsive(small-land) {
            width: 12rem;
            height: 12rem;
        }
    }

    &__world-of-whisky {
        height: 30vh;
        @include responsive(x-large) {
            height: 50vh;
        }
    }

    &__themes-heading {
        position: absolute;
        top: -1rem;
        &--bottom {
            top: 50%;
        }
    }

    &__contact {
        @include responsive(small-land) {
            display: none;
        }
    }
}
