@use "../settings" as *;
@use "../tools" as *;

.c-testimonials {
    &__quote {
        font-size: 0.875rem;
        color: $colourGrey-100;
        line-height: 1rem;
    }

    &__figcaption-link {
        font-size: 0.875rem;
        color: $colourAccent-100;
        &:hover,
        &:focus {
            color: $colourAccent-200;
        }
    }

    &__figcaption-cite {
        font-size: 0.75rem;
        color: $colourGrey-200;
    }
}
