@use "../settings" as *;
@use "../tools" as *;

.c-testimonials {
    &__quote {
        font-size: 0.875rem;
        color: $colourGrey-100;
        line-height: 1.2rem;
        position: relative;

        &::before {
            content: "\0275D";
            font-size: 1rem;
            color: $colourGrey-300;
            position: absolute;
            top: 0.5rem;
            left: -0.8rem;
        }
    }

    &__figcaption-link {
        font-size: 0.875rem;
        color: $colourAccent-200;
        &:hover,
        &:focus {
            color: $colourAccent-100;
        }
    }

    &__figcaption-cite {
        font-size: 0.75rem;
        color: $colourGrey-300;
    }
}
