/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* Remove defalut styling for buttons */

button {
    font-family: inherit;
    border: none;
    padding: 0;
}
