@charset "UTF-8";
/* ***** Transform ***** */
/* ***** Media Queries ***** */
/*
- 576px = x-small  (default)
576 - 768px = small
768 - 992px = medium
992 - 1200px = large
1200 - 1800px = x-large
1800 - = xx-large
*/
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* Remove defalut styling for buttons */
button {
  font-family: inherit;
  border: none;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f8f9fa;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3 {
  font-family: "Brandon Grotesque", sans-serif;
}

h1 {
  font-weight: 700;
  color: #222;
  font-size: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
  line-height: 1.3;
}
@media screen and (min-width: 112.5em) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-weight: 500;
  color: #0a0a0a;
  font-size: clamp(1.5rem, 1.1667rem + 1.6667vw, 2.5rem);
}

h3 {
  font-size: clamp(1.125rem, 1rem + 0.625vw, 1.5rem);
}

p,
b,
ol > li {
  font-family: "Minion Pro", sans-serif;
  color: #0a0a0a;
  line-height: normal;
  padding-top: 1rem;
  font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
}
@media screen and (min-width: 112.5em) {
  p,
b,
ol > li {
    font-size: 1.5rem;
  }
}

b,
ol > li {
  font-weight: 600;
}

p {
  font-weight: 400;
}

figcaption,
i {
  font-family: "Minion Pro", sans-serif;
  font-size: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.75rem);
}

/* Navbar */
.o-navbar {
  background: linear-gradient(180deg, #434343 0%, #0a0a0a);
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-navbar {
    height: 100vh;
    right: auto;
    background: linear-gradient(90deg, #434343 0%, #0a0a0a);
  }
}

.o-navbar--bg-reverse {
  background: linear-gradient(180deg, #0a0a0a 0%, #434343);
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-navbar--bg-reverse {
    background: linear-gradient(180deg, #434343 0%, #0a0a0a);
  }
}

/* Landing Page */
.o-index-header-wrapper {
  max-width: 112.5rem;
  height: 100vh;
  position: relative;
}
.o-index-text-wrapper {
  height: 55%;
  margin: 0;
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-index-text-wrapper {
    width: 80%;
    height: 75%;
    margin-left: 3rem;
  }
}
.o-index-bg {
  width: 75%;
  height: 100vh;
  background: url("../../images/flicka.png") no-repeat bottom right;
  background-size: contain;
  position: absolute;
  bottom: 4rem;
  right: 0rem;
  opacity: 0.4;
}
@media screen and (min-width: 48em) {
  .o-index-bg {
    height: 90vh;
    right: 8rem;
  }
}
@media screen and (min-width: 75em) {
  .o-index-bg {
    opacity: 1;
    bottom: 0;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-index-bg {
    bottom: 0;
  }
}

/* About Me Page */
.o-about-header-wrapper {
  width: 100%;
  padding-top: 8rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 48em) {
  .o-about-header-wrapper {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 62em) {
  .o-about-header-wrapper {
    padding-top: 16rem;
  }
}
@media screen and (min-width: 75em) {
  .o-about-header-wrapper {
    padding-top: 12rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-about-header-wrapper {
    margin-top: 0;
    padding-left: 5rem;
  }
}
.o-about-main-wrapper {
  max-width: 64rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 48em) {
  .o-about-main-wrapper {
    margin-bottom: 8rem;
  }
}
@media screen and (min-width: 62em) {
  .o-about-main-wrapper {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 75em) {
  .o-about-main-wrapper {
    margin-bottom: 8rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-about-main-wrapper {
    width: 80%;
    margin-top: 0;
    margin-left: 5rem;
  }
}

/* Testimonials */
.o-testimonials-wrapper {
  max-width: 90rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-testimonials-wrapper {
    max-width: 80%;
  }
}
@media screen and (min-width: 62em) {
  .o-testimonials-wrapper {
    padding-top: 8rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-testimonials-wrapper {
    margin-left: 5rem;
  }
}

.o-testimonials-image-wrapper {
  width: 5.5rem;
  height: 5.5rem;
}

/* Project Pages*/
.o-project-header-wrapper {
  min-width: 100vw;
  height: 100vh;
  position: relative;
}
.o-project-content-wrapper {
  max-width: 112rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 112.5em) {
  .o-project-content-wrapper {
    overflow: visible;
  }
}
.o-project__ux-header-image-wrapper {
  width: auto;
  height: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 36em) {
  .o-project__ux-header-image-wrapper {
    height: 55%;
  }
}
@media screen and (min-width: 75em) {
  .o-project__ux-header-image-wrapper {
    height: 90%;
    right: -4rem;
  }
}
.o-project__scss-header-image-wrapper {
  width: 85%;
  height: auto;
  position: absolute;
  bottom: 5rem;
  right: 0;
}
@media screen and (min-width: 48em) {
  .o-project__scss-header-image-wrapper {
    width: auto;
    height: 40%;
  }
}
@media screen and (min-width: 75em) {
  .o-project__scss-header-image-wrapper {
    width: 45%;
    height: auto;
    right: 8rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-project__scss-header-image-wrapper {
    width: auto;
    height: 50%;
    bottom: 2rem;
    right: 2rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-project__image-wrapper {
    width: 50%;
  }
}
.o-project__world-of-whisky-image-wrapper {
  height: 100%;
}
.o-project__themes-image-wrapper {
  position: relative;
}
.o-project__concepts-sketching-image-wrapper {
  position: relative;
  margin-bottom: 25%;
}
@media screen and (min-width: 75em) {
  .o-project__concepts-sketching-image-wrapper {
    margin-bottom: 0;
  }
}
.o-project__bhromaon-image-wrapper {
  background-color: #bebebe;
  border-radius: 0.5rem;
  padding: 1rem;
}
@media screen and (min-width: 36em) {
  .o-project-section-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
  }
}
@media screen and (min-width: 48em) {
  .o-project-section-wrapper {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media screen and (min-width: 75em) {
  .o-project-section-wrapper {
    max-width: 112rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-project-section-wrapper {
    padding-left: 5rem;
    padding-right: 1rem;
    margin-top: 2rem;
  }
}
.o-project-section-wrapper--bottom {
  margin-bottom: 8rem;
}
@media screen and (min-width: 36em) {
  .o-project-section-wrapper--bottom {
    margin-bottom: 15rem;
  }
}
@media screen and (min-width: 62em) {
  .o-project-section-wrapper--bottom {
    margin-bottom: 25rem;
  }
}
@media screen and (min-width: 75em) {
  .o-project-section-wrapper--bottom {
    margin-bottom: 0;
  }
}

/* Contact Me Page */
.o-contact-page-wrapper {
  background: linear-gradient(180deg, #0a0a0a 0%, #434343);
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-contact-page-wrapper {
    background: linear-gradient(180deg, #434343 0%, #0a0a0a);
  }
}
.o-contact-content-wrapper {
  height: 85vh;
}

/* Waves */
.o-wave-wrapper {
  min-width: 100vw;
  position: relative;
  background-image: url(../../images/wave-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media screen and (min-width: 36em) {
  .o-wave-wrapper {
    background-image: url(../../images/wave-sm-left.svg);
  }
}
@media screen and (min-width: 48em) {
  .o-wave-wrapper {
    background-image: url(../../images/wave-md-left.svg);
  }
}
@media screen and (min-width: 62em) {
  .o-wave-wrapper {
    background-image: url(../../images/wave-lg-left.svg);
  }
}
@media screen and (min-width: 75em) {
  .o-wave-wrapper {
    background-size: cover;
  }
}
.o-wave-wrapper__project-header {
  min-width: 100vw;
  height: 100%;
  background-image: url(../../images/wave-project-header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom 2rem;
  position: absolute;
}
.o-wave-wrapper__project-header--reverse {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-position: center top 8rem;
}
@media screen and (min-width: 75em) {
  .o-wave-wrapper__project-header--reverse {
    background-position: center top;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .o-wave-wrapper__project-header--reverse {
    background-position: center top;
  }
}
.o-wave-wrapper__footer {
  height: 20vh;
}

.c-navbar {
  max-width: 112.5rem;
  padding-right: 0;
}
@media screen and (min-width: 48em) {
  .c-navbar {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-navbar {
    flex-direction: column;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-navbar-logo {
    padding-top: 1rem;
  }
}
.c-navbar-toggler {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: transparent;
  padding: 1rem;
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-navbar-toggler {
    padding: 1rem 0.5rem;
  }
}
.c-navbar-list {
  height: calc(100vh - 56px);
  border-top: 1px solid rgba(248, 249, 250, 0.3);
  padding-bottom: 5rem;
}
@media screen and (min-width: 36em) {
  .c-navbar-list {
    padding-bottom: 8rem;
  }
}
@media screen and (min-width: 62em) {
  .c-navbar-list {
    height: auto;
    border-top: none;
    padding-bottom: 0;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-navbar-list {
    width: 100vw;
    height: 100vh;
    border-top: none;
    align-items: flex-end;
  }
}
.c-navbar__list-item {
  border-top: 1px solid rgba(248, 249, 250, 0.3);
}
@media screen and (min-width: 62em) {
  .c-navbar__list-item {
    padding-left: 1.5rem;
    border-top: none;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-navbar__list-item {
    width: 40%;
    padding-left: 0.5rem;
  }
}
.c-navbar__link {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  color: #f8f9fa;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-navbar__link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.c-navbar__link:hover, .c-navbar__link:focus {
  color: #b3f7cf;
}
.c-navbar__link--active {
  color: #7ef4ae;
}

.c-header-subheading {
  font-size: clamp(1.125rem, 0.9167rem + 1.0417vw, 1.75rem);
  line-height: 1.3;
}
@media screen and (min-width: 112.5em) {
  .c-header-subheading {
    font-size: 2.25rem;
  }
}
.c-header__project-heading {
  padding-top: 8rem;
}
@media screen and (min-width: 36em) {
  .c-header__project-heading {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 48em) {
  .c-header__project-heading-scss {
    padding-top: 20rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-header__project-heading-scss {
    margin-right: 5rem;
  }
}
@media screen and (min-width: 62em) {
  .c-header__project-heading {
    padding-top: 17rem;
    padding-right: 10rem;
  }
}
@media screen and (min-width: 75em) {
  .c-header__project-heading {
    padding: 0 0 10rem 0;
  }
}
@media screen and (min-width: 112.5em) {
  .c-header__project-heading {
    padding-left: 0;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-header__project-heading {
    width: 60%;
    padding: 3rem 5rem 0 0;
  }
}
.c-header__contact-heading {
  font-size: clamp(1.2rem, 0.7667rem + 2.1667vw, 2.5rem);
  font-weight: 500;
  color: #f0f0f0;
}
.c-header__contact-link {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: clamp(1.5rem, 1rem + 2.5vw, 3rem);
  font-weight: 700;
  color: #7ef4ae;
}
.c-header__contact-link:hover, .c-header__contact-link:focus {
  color: #b3f7cf;
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */
.c-waves {
  min-width: 100%;
  margin-bottom: -0.7rem;
  /*Fix for safari gap*/
  height: 25vh;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-waves {
    display: none;
  }
}

.c-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-image--bw {
  filter: grayscale(100%);
}
.c-image__circle {
  border-radius: 50%;
}
.c-image__soft-corners {
  border-radius: 0.5rem;
}
.c-image__myself {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  float: left;
  shape-outside: circle(50%);
  margin: 0 1rem 1rem 0;
}
@media screen and (min-width: 48em) {
  .c-image__myself {
    width: 20rem;
    height: 20rem;
    margin-right: 2rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-image__myself {
    width: 12rem;
    height: 12rem;
  }
}
.c-image__world-of-whisky {
  height: 30vh;
}
@media screen and (min-width: 75em) {
  .c-image__world-of-whisky {
    height: 50vh;
  }
}
.c-image__themes-heading {
  position: absolute;
  top: -1rem;
}
.c-image__themes-heading--bottom {
  top: 50%;
}
.c-image__crazy8 {
  width: 50%;
}
@media screen and (min-width: 75em) {
  .c-image__crazy8 {
    width: 100%;
  }
}
.c-image__priority {
  width: 60%;
  position: absolute;
  bottom: -60%;
  right: 0.5rem;
  z-index: -100;
}
@media screen and (min-width: 75em) {
  .c-image__priority {
    width: 100%;
    position: static;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-image__contact {
    display: none;
  }
}
.c-image__bhromaon {
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
}
.c-image__bhromaon--border-top {
  border-top: 4px solid #fff;
}
.c-image__bhromaon--border-bottom {
  border-bottom: 4px solid #fff;
}
.c-image__footer {
  position: absolute;
  width: 30%;
  height: auto;
  bottom: 5rem;
  left: -2rem;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
@media screen and (min-width: 48em) {
  .c-image__footer {
    width: 12rem;
  }
}
@media screen and (min-width: 62em) {
  .c-image__footer {
    width: 16rem;
  }
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-image__footer {
    display: none;
  }
}

.c-small-caps {
  font-weight: 600;
  font-variant: small-caps;
}

.c-testimonials__quote {
  font-size: 0.875rem;
  color: #f8f9fa;
  line-height: 1.2rem;
  position: relative;
}
.c-testimonials__quote::before {
  content: "❝";
  font-size: 1rem;
  color: #bebebe;
  position: absolute;
  top: 0.5rem;
  left: -0.8rem;
}
.c-testimonials__figcaption-link {
  font-size: 0.875rem;
  color: #7ef4ae;
}
.c-testimonials__figcaption-link:hover, .c-testimonials__figcaption-link:focus {
  color: #b3f7cf;
}
.c-testimonials__figcaption-cite {
  font-size: 0.75rem;
  color: #bebebe;
}

.c-project-button {
  background: linear-gradient(180deg, #434343 0%, #0a0a0a);
  color: #7ef4ae;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 0.8em 2em 0.7em 2em;
  font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 48em) {
  .c-project-button {
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 112.5em) {
  .c-project-button {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.c-project-button:hover, .c-project-button:focus {
  background-color: #0a0a0a;
  color: #b3f7cf;
}

.c-contact-icon {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  transition: 500ms linear;
}
@media (min-width: 25em) and (max-height: 42.9em) {
  .c-contact-icon {
    display: none;
  }
}
.c-contact-icon:hover, .c-contact-icon:focus {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */
.u-waves--parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.u-waves--parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.u-waves--parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

.u-waves--parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}

.u-waves--parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@-moz-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}

/*# sourceMappingURL=main.css.map */
