@charset "UTF-8";
/* ***** Wrappers ***** */
/* ***** Flex-Box ***** */
/* ***** Transform ***** */
/* ***** Media Queries ***** */
/*
- 576px = x-small  (default)
576 - 768px = small
768 - 992px = medium
992 - 1200px = large
1200 - 1400px = x-large
1400 - = xx-large
*/
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* Remove default styles on ul, li elements*/
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* Remove defalut styling for buttons */
button {
  font-family: inherit;
  border: none;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f8f9fa;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2 {
  font-family: "Brandon Grotesque", sans-serif;
  letter-spacing: 0.02em;
}

h1 {
  font-weight: 700;
  color: #222;
  font-size: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
}

h2 {
  font-weight: 500;
  color: #0a0a0a;
  font-size: clamp(1.5rem, 1.1667rem + 1.6667vw, 2.5rem);
}

p {
  font-family: "Minion Pro", sans-serif;
  color: #0a0a0a;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: clamp(0.875rem, 0.7917rem + 0.4167vw, 1.125rem);
}

.o-header-wrapper {
  max-width: 75rem;
  height: 100vh;
  position: relative;
}
.o-header-bg {
  width: 75%;
  height: 100vh;
  background: url("../../images/flicka.png") no-repeat bottom right;
  background-size: contain;
  position: absolute;
  bottom: 4rem;
  right: 0;
  opacity: 0.4;
}
@media screen and (min-width: 48em) {
  .o-header-bg {
    height: 90vh;
    bottom: 0;
  }
}
@media screen and (min-width: 75em) {
  .o-header-bg {
    opacity: 1;
  }
}

.c-navbar {
  max-width: 75rem;
}

.nav-links {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  color: #f8f9fa;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.nav-links:hover,
.nav-links focus {
  color: #8dffd6;
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */
.c-waves {
  min-width: 100%;
  max-height: 100%;
  margin-bottom: -0.7rem;
  /*Fix for safari gap*/
  height: 25vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */
.u-waves--parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.u-waves--parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.u-waves--parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

.u-waves--parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}

.u-waves--parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@-moz-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}

/*# sourceMappingURL=main.css.map */
